body {
    /* background-image:radial-gradient(circle,#ccaaff,#ff2561); */
    background-color: aqua;
}


.btn {
    margin-bottom: 20px;
    background-color: rgb(70, 177, 111);
    font-size: medium;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btn:hover {
    background-color: lightgray;
    border-color: aqua;
    color:green;
    /* margin: auto; */
}
.prof {
    background-color: rgb(245,120,160);
    font-size: medium;
    font-weight: bold;
}

.logo {
    background-color: rgb(170, 177, 211);
    font-size: medium;
    font-weight: bold;
}

.prof:hover {
    border-color: bisque;
    background-color: lightpink;
}

.logo:hover {
    border-color: blanchedalmond;
    background-color: lightgoldenrodyellow;
}

.msg,p {
    color:red;
    font-style: normal;
}