<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'css/password.css' %}">
 <title>Change Password</title>
</head>
<body>
 <form action="" method="post" novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
       <p class="msg">{{ error }}</p>
    {% endfor %}
  {% endif %}

  {% for fm in form %}
   {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
  {% endfor %}
  <!-- <input type="submit" value="Save"> -->
  <button class="btn">Save</button>
 </form>
 <div class = "styl">
 <button class="prof"><a href="{% url 'profile' %}">Profile</a></button><br><br>
 <button class="logo"><a href="{% url 'logout' %}">Logout</a></button>
 </div>
</body>
</html>